.gallery {
  align-self: center;
  display: grid;
  grid-auto-flow: row;
  // grid-template-rows: 1fr auto;
  overflow: hidden;
  min-height: 700px;
  height: clamp(100vh, 850px, 1000px);
  // height: 100vh;
  // background-color: green;
  position: relative;
  &-draw {
    display: grid;
    align-self: center;
    overflow: hidden;
    position: relative;
  }
  &-content {
    padding-top: calc(clamp(20px, 4.2vw, 92px) * 2 + 40px);
    align-self: center;
    // overflow: hidden;
    display: grid;

    #overflow {
      // background: #000;
      height: 100%;
      width: 100%;
      display: grid;
      align-items: center;
      align-content: center;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      touch-action: none;
    }

    .button {
      transition: 2s opacity ease-in-out;
      position: absolute;
      z-index: 100;
      align-self: center;
      padding: 10px;
      margin: 0 calc(clamp(10px, 8vw, 200px) - 20px);
      cursor: pointer;

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }

  &-actions {
    // background-color: red;
    display: grid;
    grid-auto-flow: column;
    justify-self: center;
    gap: 25px;
    padding: 10px;
    padding-top: 45px;

    button {
      width: clamp(120px, 15vw, 180px);
      // background-color: #555658;
      border: 2px solid;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
      font-family: inherit;
      font-weight: 400;
      height: 48px;
      border-radius: 8px;

      &:last-child {
        background-color: transparent !important;
        color: var(--stroke-color);
      }
    }
  }

  &-image {
    justify-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: start;
    overflow: hidden;
    user-select: none;

    > div {
      position: relative;
      margin: 10px 0;
    }

    img {
      user-drag: none;
      -webkit-user-drag: none;
      margin-top: clamp(30px, 10vw, 150px);
      // width: clamp(200px, 80vw, 940px);
      height: clamp(100px, 30vw, 350px);
    }

    .tyre {
      position: absolute;
      z-index: 20;
      height: clamp(20px, 12vw, 140px);
      object-fit: cover;
      // transform: rotate(10deg);
      // left: 12%;
      // top: clamp(0px, 39.5%, 190px);

      &.right {
        left: inherit;
        right: 14.5%;
      }
    }
  }
  &-names {
    &-container {
      position: absolute;
      justify-self: center;
      align-self: start;
      height: clamp(100px, 24vw, 312px);
      top: 18px;
      overflow: hidden;
      display: grid;
    }
    text-align: center;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.5);
    // transform: translate3d(0, -10px, 0);
    // display: grid;
    // row-gap: 20px;
    // grid-template-rows: repeat(3, 100%);
    text-transform: uppercase;
    align-items: center;
    > div {
      height: clamp(100px, 24vw, 312px);
      display: grid;
      align-content: start;
      row-gap: 8px;
    }
    #top {
      font-size: clamp(18px, 8vw, 64px);
      line-height: 1.2;
    }
    #bottom {
      line-height: 1;
      font-size: clamp(28px, 12vw, 200px);
    }
  }
  &-indicator {
    // background-color: blue;
    display: grid;
    height: 20px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    column-gap: clamp(6px, 1.2vw, 15px);
    padding: 30px;

    &-dot {
      padding: clamp(4px, 0.8vw, 6px);
      border-radius: 50%;
      // background: #00000050;
    }
  }
  &-nav {
    display: grid;
    align-content: start;
    // transition: 1s opacity ease-in;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    row-gap: 10px;
    min-height: 0px;
    height: fit-content;
    margin-top: -50px;

    &-content {
      // margin-top: 80px;
    }

    &-image {
      div {
        margin: 30px 0 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
    &-image {
      div {
        margin: 60px 0 0;
      }
    }
  }
}

@media screen and (min-width: 1640px) {
  .gallery {
    &-draw {
      // scale: 1.2;
      // margin-top: 5%;
    }
  }
}
