:root {
  --view-image-width: clamp(200px, 20vw, 400px);
}

.view {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 480px;
  background-color: var(--bg-color);
  // background-color: red;
  opacity: 0;
  // margin-top: 30px;
  //   top: 100vh;
  align-self: last baseline;
  top: 100%;
  justify-self: center;
  // display: grid;
  // grid-template-rows: 100px auto auto;
  // grid-auto-flow: row;
  // align-content: center;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--text-color);
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  // align-content: start;
  &::-webkit-scrollbar {
    // display: none;
  }

  .title {
    font-size: clamp(18px, 1.5vw, 28px);
    text-transform: uppercase;
    padding: 0 8vw;
    margin-top: 10px;
  }

  .body {
    position: relative;
    margin-top: 30px;
    padding: 0 8vw;
    display: grid;
    grid-auto-flow: column;
    row-gap: 16px;
    column-gap: 28px;
    grid-template-columns: repeat(4, var(--view-image-width));
    justify-content: start;
    overflow-x: auto;
    overflow-y: visible;

    &::-webkit-scrollbar {
      display: none;
    }

    span {
      display: grid;
      height: fit-content;
    }

    img {
      width: 100%;
      // width: var(--view-image-width);
      object-fit: contain;
    }
  }
  .button {
    margin: 40px 0 100px;
    width: 180px;
    // position: absolute;
    // justify-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color);
    padding: 14px 0;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    // align-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .view {
    mask-image: linear-gradient(transparent, black 10%, black 90%, transparent);
    // margin-top: calc(clamp(40px, 7%, 50px) * -1);
    // min-height: 500px;
    overflow-y: auto;
    .title {
      padding-top: clamp(40px, 7%, 50px);
    }
  }
}

@media screen and (min-width: 1820px) {
  .view {
    .title {
      text-align: center;
    }
    .body {
      padding-top: 20px;
      justify-content: center;
    }
  }
}
