:root {
  --view-image-width: clamp(200px, 20vw, 400px);
}

.view {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 480px;
  background-color: var(--bg-color);
  // background-color: red;
  opacity: 0;
  // margin-top: 30px;
  //   top: 100vh;
  align-self: last baseline;
  top: 100%;
  justify-self: center;
  // display: grid;
  // grid-template-rows: 100px auto auto;
  // grid-auto-flow: row;
  // align-content: center;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--text-color);
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  // align-content: start;
  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    font-size: clamp(18px, 1.5vw, 28px);
    text-transform: uppercase;
    padding: 0 8vw;
    margin-top: 10px;
  }

  .body {
    position: relative;
    margin-top: 30px;
    padding: 0 8vw;
    display: grid;
    grid-auto-flow: column;
    row-gap: 16px;
    column-gap: 28px;
    grid-template-columns: repeat(4, var(--view-image-width));
    justify-content: start;
    overflow-x: auto;
    overflow-y: visible;

    &::-webkit-scrollbar {
      display: none;
    }

    span {
      display: grid;
      height: fit-content;
    }

    img {
      width: 100%;
      // width: var(--view-image-width);
      object-fit: contain;
    }
  }
  .button {
    margin: 40px 0 100px;
    width: 180px;
    // position: absolute;
    // justify-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color);
    padding: 14px 0;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    // align-self: center;
  }
}

.specs {
  max-width: clamp(100px, 12vw, 12vw);
  position: absolute;
  text-transform: uppercase;
  padding: 10px;
  // background-color: red;
  justify-self: end;
  right: clamp(60px, 6vw, 200px);
  z-index: 200;
  top: calc(clamp(20px, 11vh, 140px));
  display: grid;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: center;
  font-weight: 400;
  color: #454545;
  transform: translateY(-50%) scale(0.9);
  scale: 0.9;
  .body {
    display: grid;
    gap: 32px;
    grid-auto-flow: row;
  }
  .title {
    font-weight: 600;
    letter-spacing: -0.2px;
    font-size: clamp(16px, 1vw, 22px);
  }

  .spec {
    display: grid;
    text-align: center;
    justify-items: center;

    .value {
      font-weight: 600;
      font-size: clamp(18px, 2vw, 28px);
    }
    .type {
      font-weight: 300;
      font-size: clamp(14px, 1vw, 20px);
      letter-spacing: 0.6px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .view {
    mask-image: linear-gradient(transparent, black 10%, black 90%, transparent);
    // margin-top: calc(clamp(40px, 7%, 50px) * -1);
    // min-height: 500px;
    overflow-y: auto;
    right: clamp(5px, 1vw, 30px);
    .title {
      padding-top: clamp(40px, 7%, 50px);
    }
  }
}

@media screen and (min-width: 1820px) {
  .view {
    .title {
      text-align: center;
    }
    .body {
      padding-top: 20px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .specs {
    .body {
      grid-template-columns: repeat(3, 1fr);
    }
    align-items: center;
    right: inherit;
    left: inherit;
    max-width: fit-content;
    justify-self: center;
    margin-top: -90px;
    scale: 0.6;
  }
}
