:root {
  --text-color: #333333;
  --bg-color: #e3e3e3;
  --stroke-color: #555658;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 255, 0.0);

  &::-webkit-scrollbar {
    display: none;
  }
}
.container {
  display: grid;
  // height: 120dvh;
  overflow: hidden;
  min-height: 750px;
  grid-template-rows: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 700px;
    height: 100dvh;
    max-height: 890px;
  }
}

@media screen and (min-width: 1540px) {
  .container {
    min-height: 1024px;
    max-height: 2560px;
  }
}
