:root {
  --text-color: #333333;
  --bg-color: #e3e3e3;
  --stroke-color: #555658;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.container {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr;
}
