:root {
  --text-color: #333333;
  --bg-color: #e3e3e3;
  --stroke-color: #555658;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
.container {
  display: grid;
  // height: 120dvh;
  max-height: 890px;
  overflow: hidden;
  // min-height: 750px;
  grid-template-rows: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 620px;
    height: 100dvh;
  }
}
